{% extends 'base.html' %}
{% load static %}
{% load datos_filter %}
{% block content %}
<head>
<link rel="stylesheet" type="text/css" href="{% static 'style3.css' %}">
</head>
    <body>
     <div class="container">
        <div class="image-upload" id="image-upload">

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="button">
                    <label for="chooseFile">
                        📷 CHOICE PICTURE 📷
                    </label>
                </div>
                <input type="file" id="chooseFile" name="chooseFile" accept="image/*" onchange="loadFile(this)">
            </form>

            <div class="fileContainer">
                <div class="fileInput">
                    <p>PICTURE NAME: </p>
                    <p id="fileName"></p>
                </div>
               <div class="buttonContainer">
                    <div class="submitButton" id="submitButton">CHECK</div>
                </div>
            </div>
        </div>


        <div class="image-show" id="image-show"></div>

    </div>

    <script src="{% static 'stickercheck.js' %}"></script>


</body>

{% endblock %}
