{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>편집창</title>
    <link rel="stylesheet" href="/static/css/sticker_edit_bear.css" />
<body>
    <div id="content">
        
        
    <h1></h1>
    <ul>
        <li id="fixed1"></li>
    </ul>
    <p id="fixed"></p>
    <button>이미지업로드</button>
    <br>
    <button1>완료</button>
    <br>
        <div class="fixed"></div>
        <div class="face" id="face"></div>
        <div class="image1"></div>
        <div class="image2"></div>
        <div class="image3"></div>
        <div class="image4"></div>

        <div class="sticker1 sticker" id="cat"></div>
        <div class="sticker2 sticker" id="bear"></div>
        <div class="sticker3 sticker" id="bear_nose"></div>
        <div class="sticker4 sticker" id="bat"></div>
        <div class="sticker5 sticker" id="rabbit"></div>
        <div class="sticker6 sticker" id="fox"></div>

        <div class="left" id="pass_1"></div>
        <div class="right" id="pass_2"></div>

    </div>
    

</body>
</html>