 {% extends 'base.html' %}
{% load static %}
{% load datos_filter %}
{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'style2.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

</head>

 <div class="slider">
        <input type="radio" name="slide" id="slide1" checked>
        <input type="radio" name="slide" id="slide2">
        <input type="radio" name="slide" id="slide3">
        <input type="radio" name="slide" id="slide4">
        <input type="radio" name="slide" id="slide5">
        <input type="radio" name="slide" id="slide6">
        <input type="radio" name="slide" id="slide7">
        <input type="radio" name="slide" id="slide8">
        <input type="radio" name="slide" id="slide9">
       <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><a href="{% url 'datos:bat' %}"><img src="{% static 'img/jisoo_bat.JPG' %}"></a></div>
                <div class="swiper-slide"><img src="{% static 'img/jisoo_bear.JPG' %}"></div>
                <div class="swiper-slide"><img src="{% static 'img/jisoo_bear_nose.JPG'%}"></div>
                <div class="swiper-slide"><img src="{% static 'img/jisoo_cat.JPG' %}"></div>
                <div class="swiper-slide"><img src="{% static 'img/jisoo_whitedog.JPG' %}"></div>
                <div class="swiper-slide"><img src="{% static 'img/jisoo_dog.JPG' %}"></div>
                <div class="swiper-slide"><img src="{% static 'img/Jisoo_rabbit.JPG' %}"></div>
                <div class="swiper-slide"><img src="{% static 'img/Jisoo_fox.JPG' %}"></div>
                <div class="swiper-slide"><img src="{% static 'img/Jisoo_neoncat.JPG' %}"></div>
            </div>

   <div class="swiper-pagination"></div>
            <!-- Add Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<script>
 let swiper = new Swiper('.swiper-container', {

  loop: true,
  centeredSlides: true,
  slidesPerView: '3',
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },
  effect: 'coverflow',
  coverflowEffect: {
    rotate: 10,
    depth: 100,
    slideShadows: true,
    // modifier:1,
    // stretch: 50
  },
  pagination: {
    el: '.swiper-pagination',
    type: 'bullets',
    clickable: true,
  },



})



</script>
{% endblock %}