/* 전체창 */
#content{
    border:1px solid gray;
    border-radius:10px;
    padding:100px;
    width: 1100px;
    height: 450px;
}
ul {margin-left:15px;
list-style-type:none;}
ul li {margin:10px 15px;}

/* 버튼 */
.button{
    border-radius:5px;
    text-align: center;
    position:fixed; left:40px;
}

/* 이미지업로드버튼 */
button{
border:1px solid #CACACA;
background-color: #CACACA;
font-size: 12px;
position:fixed; top:520px;
width:130px;
height: 40px; 
}
    
/* 완료버튼 */
button1{
border:1px;
background-color: #AAB9FF;
font-size: 20px;
padding:7px;
position:fixed; top:565px;
width:115px;
height: 30px;  
}


/* 이미지 */
li {
width:500px;
height:350px;
border:5px solid gray;
padding:100px;
margin:20px;
position:fixed; left:290px; top:40px;

}

.face{
width: 400px; height: 555px; 
margin:right;
position:fixed; left:470px; top:50px;
background:url("/static/img/jisoo_bunny.png") no-repeat left top;
}
#face{background-size: cover ;}

/* 불러온 사진 목록 */
.image{
    width: 220px; height: 120px; 
    border:5px solid gray;
    margin:10px 15px;
    background-color: white;
    position:fixed; left:1040px;
}
/* 1 */
.image1{
position:fixed; top:40px;       
}
#image1{background:url("/static/img/#") no-repeat left top;}

/* 2 */
.image2{
position:fixed; top:183px;       
}
#image2{background:url("/static/img/#") no-repeat left top;}

/* 3 */
.image3{
position:fixed; top:326px;        
}
#image3{background:url("/static/img/#") no-repeat left top;}

/* 4 */
.image4{
position:fixed; top:470px;       
}
#image4{background:url("/static/img/#") no-repeat left top;}